.c-graph {
  margin-top: 5rem;
  &__label {
    font-size: 2rem;
    color: white;
    background-color: $color-blauw;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
    width: 100%;

    @include media-breakpoint-down(lg) {
      padding: 0.75rem 1.5rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.6rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      border-radius: 5px 5px 0 0;
    }
  }
  &__button {
    font-size: 2rem;
    color: white;
    background-color: $color-blauw;
    opacity: 0.7;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
    transition: opacity 0.2s ease;

    @include media-breakpoint-down(lg) {
      padding: 0.75rem 1.5rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.6rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 0.6rem;
      padding: 0.5rem 1rem;
      border-radius: 5px 5px 0 0;
    }
    &:hover {
      color: white;
      text-decoration: none;
      opacity: 1;
    }
    &--active {
      opacity: 1;
    }
  }
  &__chart {
    margin-top: 7px;
    padding-top: 1.5rem;
    border: $color-blauw 0.3rem solid;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 5rem;
    height: 50vh;
    @include media-breakpoint-down(lg) {
      height: 40vh;
      margin-top: 5px;
    }
    @include media-breakpoint-down(md) {
      height: 40vh;
      padding-top: 0.5rem;
    }
    @include media-breakpoint-down(sm) {
      height: 30vh;
      padding-top: 0;
      border: $color-blauw 0.2rem solid;
    }
    @include media-breakpoint-down(xs) {
      height: 20vh;
      margin-top: 2px;
    }
    &--lines {
      @include media-breakpoint-down(sm) {
        height: 35vh;
      }
      @include media-breakpoint-down(xs) {
        height: 25vh;
      }
    }
  }
  &--small {
    height: 30vh;
    margin-left: -3rem;
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      height: 40vh;
      margin-left: 0;
    }
    @include media-breakpoint-down(sm) {
      height: 30vh;
    }
  }
}

h2 {
  font-weight: 900;
  position: relative;
  padding-left: 3rem;
  font-size: 56px;
  color: #354b60;
  margin-top: 115px;
  margin-bottom: 40px;
  display: block;
  img {
    width: 5rem;
  }
}
h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.7rem;
  width: 1rem;
  height: calc(100% + 1.4rem);
  background-color: #00b8b1;
}

h3 {
  color: white;
  background-color: #00b8b1;
  font-size: 36px;
  position: relative;
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: inline-block;
  padding-right: 2rem;
  margin-bottom: 47px;
  margin-top: 30px;
}

h4 {
  margin-top: 47px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #354b60;
}

p {
  font-size: 2rem;
  line-height: 30px;
  display: block;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  border-bottom: 1px;
  color: #00b8b1;
  font-size: 20px;
}

a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}

ul {
  list-style-type: none;
  margin-bottom: 60px;
}

li {
  position: relative;
  margin-left: 41px;
  margin-bottom: 8px;
}

li::before {
  content: "";
  width: 25rem;
  height: 25rem;
  background-image: url("../images/coronaklein.png");
  position: absolute;
  left: -137px;
  top: -87px;
}

iframe {
  margin-bottom: 30px;
}

blockquote {
  p {
    font-size: 44px;
    color: #354b60;
    font-weight: 900;
    margin-left: 227px;
  }
  background: #a3e2e0;
  padding-bottom: 66px;
  padding-top: 66px;
  margin-bottom: 45px;
}
blockquote::before {
  content: "";
  width: 118px;
  height: 158px;
  background-image: url("../images/doctor.png");
  position: absolute;
  margin-top: -42px;
  margin-left: 58px;
}
