.c-filter {
  &__range {
    input[type="range"] {
      position: absolute;
      pointer-events: none;
      -webkit-appearance: none;
      z-index: 2;
      height: 1rem;
      width: 100%;
      opacity: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      pointer-events: all;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 0;
      border: 0 none;
      background-color: red;
      -webkit-appearance: none;
    }
    &--middle {
      position: relative;
      max-width: 28rem;
    }
    &--slider {
      position: relative;
      z-index: 1;
      height: 3px;
      margin: 0 15px;
      &__track {
        position: absolute;
        z-index: 1;
        left: -1rem;
        right: -1rem;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: $color-blauw;
      }
      &__range {
        position: absolute;
        z-index: 2;
        left: 25%;
        right: 25%;
        height: calc(100% + 2px);
        top: -1px;
        bottom: 0;
        border-radius: 5px;
        background-color: $color-secondary;
      }
      &__thumb {
        position: absolute;
        z-index: 3;
        width: 1.2rem;
        height: 1.2rem;
        background-color: $color-secondary;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba($color-secondary, 0.1);
        transition: box-shadow 0.3s ease-in-out;
      }
      &__thumb--left {
        left: 25%;
        transform: translate(-15px, -5px);
        &::after {
          position: absolute;
          left: -1rem;
          bottom: 1rem;
          content: attr(data-left);
          color: $color-black;
        }
      }
      &__thumb--right {
        right: 25%;
        transform: translate(15px, -5px);
        &::after {
          position: absolute;
          left: -1rem;
          bottom: 1rem;
          content: attr(data-right);
          color: $color-black;
        }
      }
      &__thumb.hover {
        box-shadow: 0 0 0 10px rgba($color-secondary, 0.1);
      }
      &__thumb.active {
        box-shadow: 0 0 0 20px rgba($color-secondary, 0.2);
      }
    }
  }
}
