// .c-filter {
//   &__range {
//     position: relative;
//     height: 50px;

//     input[type="range"] {
//       box-sizing: border-box;
//       appearance: none;
//       width: 400px;
//       margin: 0;
//       padding: 0 2px;
//       /* Add some L/R padding to ensure box shadow of handle is shown */
//       overflow: hidden;
//       border: 0;
//       border-radius: 1px;
//       outline: none;
//       background: linear-gradient($color-secondary, $color-secondary) no-repeat
//         center;
//       /* Use a linear gradient to generate only the 2px height background */
//       background-size: 100% 4px;
//       pointer-events: none;

//       &:active,
//       &:focus {
//         outline: none;
//       }

//       &::-webkit-slider-thumb {
//         height: 28px;
//         width: 28px;
//         border-radius: 28px;
//         background-color: $color-secondary;
//         position: relative;
//         margin: 5px 0;
//         /* Add some margin to ensure box shadow is shown */
//         cursor: pointer;
//         appearance: none;
//         pointer-events: all;
//         &::after {
//           content: "";
//           width: 50%;
//           height: 50%;
//           position: absolute;
//           left: 0;
//           top: 0;
//           background-color: $color-white;
//         }
//       }
//     }

//     input[type="range"] {
//       position: absolute;

//       &:nth-child(1) {
//         &::-webkit-slider-thumb::before {
//           background-color: blue;
//         }
//       }

//       &:nth-child(2) {
//         background: none;

//         &::-webkit-slider-thumb::before {
//           background-color: grey;
//         }
//       }
//     }
//   }
// }

.c-filter {
  &__range {
    input[type="range"] {
      position: absolute;
      pointer-events: none;
      -webkit-appearance: none;
      z-index: 2;
      height: 10px;
      width: 100%;
      opacity: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      pointer-events: all;
      width: 30px;
      height: 30px;
      border-radius: 0;
      border: 0 none;
      background-color: red;
      -webkit-appearance: none;
    }
    &--middle {
      position: relative;
      max-width: 28rem;
    }
    &--slider {
      position: relative;
      z-index: 1;
      height: 3px;
      margin: 0 15px;
      &__track {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: $color-blauw;
      }
      &__range {
        position: absolute;
        z-index: 2;
        left: 25%;
        right: 25%;
        height: calc(100% + 2px);
        top: -1px;
        bottom: 0;
        border-radius: 5px;
        background-color: $color-secondary;
      }
      &__thumb {
        position: absolute;
        z-index: 3;
        width: 12px;
        height: 12px;
        background-color: $color-secondary;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba($color-secondary, 0.1);
        transition: box-shadow 0.3s ease-in-out;
      }
      &__thumb--left {
        left: 25%;
        transform: translate(-15px, -5px);
      }
      &__thumb--right {
        right: 25%;
        transform: translate(15px, -5px);
      }
      &__thumb.hover {
        box-shadow: 0 0 0 10px rgba($color-secondary, 0.1);
      }
      &__thumb.active {
        box-shadow: 0 0 0 20px rgba($color-secondary, 0.2);
      }
    }
  }
}
